@charset "utf-8";
@import "normalize";

body {
  background: rgb(0,0,0);
  text-align: center;
  margin: auto;
  font-family: "Andale Mono", "Lucida Console";
  font-size: 16px;
  color: #fff;
}

/*******************HOME******************/

.jablonski {
  width: 90%;
  min-width: 360px;
  margin-top: 3rem;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
}

.full_cv {
  display: none;
}

.cv_button {
  width: 40%;
  margin: 1rem auto 0 auto;
  background-color: #000;
  border: 1px solid #fff;
  padding: 0.5rem;
  color: #fff;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .jablonski {
    max-width: 960px;
    margin-top: 6rem;
  }

  h1 {
    font-size: 4rem;
  }

  .full_cv {
    display: block;
  }

  .cv_button, .instruction {
    display: none;
  }
}

@media only screen and (min-width : 1024px) {
  .jablonski {
    max-width: 960px;
    margin-top: 7rem;
  }

  h1 {
    font-size: 4rem;
  }

  .full_cv {
    display: block;
  }

  .cv_button, .instruction {
    display: none;
  }
}

.headshot img {
  width: 60%;
  max-width: 600px;
  margin-top: 2rem;
}

/*******************BODY******************/

.header-brian {
  margin-top: 2rem;
  width: 80%;
  max-width: 500px;
}

.header-icons {
  width: 80%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

   text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
.header-icons img {
  width: 14%;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

body.index a.index,
body.research a.research,
body.publications a.publications,
body.curriculum_vitae a.curriculum_vitae,
body.about a.about {
  color: #00b3b3;
}

.publications li {
  text-align: justify;
  font-size: 1.4rem;
  font-family: Georgia;
  margin: 1rem;
}

.publications ul li {
  list-style: none;
}

h2 {
  margin-top: 3rem;
  margin-bottom: 0;
}

.publications-section {
  max-width: 1024px;
  margin: auto;
}

.instruction {
  margin-top: -1.5rem;
}


/*******************FOOTER******************/

footer {
  position: absolute;
  left: 0;
  bottom: -80;
  height: 80px;
  width: 100%
}

.footer-links {
  display: inline-block;
  margin-top: 6rem;
  font-size: 1.0rem;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
}

.footer-links a:hover {
  color: #aaa;
  transition: 0.3s ease;
}

.copy {
  color: rgb(94,92,92);
  margin-bottom: 2rem;
}

@media only screen and (min-width : 768px) {
    .footer-links {
      font-size: 1.6rem;
    }
}