@charset "utf-8";
@import "normalize";

body {
  background: rgb(26,25,25);
  text-align: center;
  margin: auto;
  font-family: "Andale Mono", "Lucida Console";
  font-size: 16px;
  color: #fff;
  width: 960px;
}

.logo img {
  height: 18.75em;
  margin-top: 6em;
}

h1 {
  color: rgba(0,0,0,0.5);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

/*******************BODY******************/


/*******************FOOTER******************/

.footer-links {
  display: inline-block;
  margin-top: 6rem;
  font-size: 1.6rem;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
}

.copy {
  color: rgb(94,92,92);
}
