<footer id="copyright" class="footer">
  <div class="footer-links">
    <a class="index" href="/">HOME</a>
    <span class="divider">|</span>
    <a class="research" href="/research">RESEARCH</a>
    <span class="divider">|</span>
    <a class="publications" href="/publications">PUBLICATIONS</a></span>
    <span class="divider">|</span>
    <a class="curriculum_vitae" href="/curriculum_vitae">CV</a>
    <span class="divider">|</span>
    <a class="about" href="/about">ABOUT ME</a>
    <span class="divider">|</span>
    <a href="" id="contact-footer-link">CONTACT</a>
    <span class="divider">|</span>
    <a target="_new" href="https://www.linkedin.com/in/brolczynski">LINKEDIN</a>
  </div>
  
  <p class='copy'>&copy; BRIAN ROLCZYNSKI 2017</p>
</footer>