<img src="/images/BRIAN.png" alt="brian rolczynski" class="header-brian">
<div class="header-icons">
  <a href="/research"><img id="research-icon" class="icon" src="/images/RESEARCH_ICON.png" alt="research icon"></a>
  <a href="/publications"><img id="publications-icon" class="icon" src="/images/PUBLICATIONS_ICON.png" alt="publications icon"></a>
  <a href="/curriculum_vitae"><img id="cv-icon" class="icon" src="/images/CV_ICON.png" alt="CV icon"></a>
  <a href="/about"><img id="about-icon" class="icon" src="/images/ABOUT_ICON.png" alt="about icon"></a>
  <a href=""><img id="email-icon" class="icon" src="/images/EMAIL_ICON.gif" alt="email icon"></a>
  <a href=""><span class="stretch"></span></a>
</div>