---
title: Curriculum Vitae
header: CURRICULUM VITAE
---

<div class="full_cv">
  <object data="/cv/Rolczynski_CV.pdf" width="768" height="1050">
    <p>Click button below to view.</p>
    <form action="/cv/Rolczynski_CV.pdf" target="_blank">
      <button class="cv_button_backup_full">OPEN PDF</button>
    </form>
  </object>
</div>

<p class="instruction">Click button below to view.</p>
<form action="/cv/Rolczynski_CV.pdf" target="_blank">
  <button class="cv_button">OPEN PDF</button>
</form>