---
title: Curriculum Vitae
header: CURRICULUM VITAE
---

<div class="full_cv">
  <embed src="/cv/Rolczynski_CV.pdf" width="768" height="1050">
</div>

<p class="instruction">Click button below to view.</p>
<form action="/cv/Rolczynski_CV.pdf" target="_blank">
  <button class="cv_button">OPEN PDF</button>
</form>