---
title: Brian Rolczynski
layout: home
---
<div class="content">
  <div class="headshot">
    <img src="/images/BRIAN_HOME.jpg">
  </div>

  <img class="jablonski" src="/images/FINAL_CHART_ART_WHITE_ONLY.png" alt="site navigation in the form of a jablonski diagram" usemap="#navmap">

  <map name="navmap">
    <area shape="circle" coords="1801,510,174" href="/research" alt="research">
    <area shape="rect" coords="0,327,663,467" href="/research" alt="research">
    <area shape="circle" coords="1802,929,174" href="/publications" alt="publications">
    <area shape="rect" coords="145,985,1160,1115" href="/publications" alt="publications">
    <area shape="circle" coords="2296,1322,174" href="/curriculum_vitae" alt="curriculum_vitae">
    <area shape="poly" coords="1240,1380,2080,1380,2080,1500,1900,1500,1900,1670,1440,1670,1440,1500,1240,1500,1240,1380" href="/curriculum_vitae" alt="curriculum_vitae">
    <area shape="circle" coords="2295,2240,174" href="/about" alt="about">
    <area shape="rect" coords="1430,2300,2130,2412" href="/about" alt="about">
  </map>
</div>
