---
title: Brian Rolczynski
---

<div class="headshot">
  <%= image_tag "generic-user.png" %>
</div>

<h1>BRIAN ROLCZYNSKI</h1>

<img class="jablonski" src="/images/home-diagram.png" alt="site navigation in the form of a jablonski diagram" usemap="#navmap">

<map name="navmap">
  <area shape="circle" coords="47,48,46" href=# alt="research">
  <area shape="circle" coords="47,158,46" href=# alt="publications">
  <area shape="circle" coords="804,261,46" href=# alt="curriculum_vitae">
  <area shape="circle" coords="46,501,46" href=# alt="home">
</map>
