---
title: Brian Rolczynski
---

<div class="headshot">
  <%= image_tag "generic-user.png" %>
</div>

<h1>BRIAN ROLCZYNSKI</h1>

<img class="jablonski" src="/images/home-diagram.png" alt="site navigation in the form of a jablonski diagram" usemap="#navmap">

<map name="navmap">
  <area shape="circle" coords="43,41,48" href=# alt="research">
  <area shape="circle" coords="43,158,48" href=# alt="publications">
  <area shape="circle" coords="807,259,48" href=# alt="curriculum_vitae">
  <area shape="circle" coords="41,500,48" href=# alt="home">
</map>
