---
title: Brian Rolczynski
layout: home
---

<div class="headshot">
  <%= image_tag "generic-user.png" %>
</div>

<h1>BRIAN ROLCZYNSKI</h1>

<img class="jablonski" src="/images/home-diagram.png" alt="site navigation in the form of a jablonski diagram" usemap="#navmap">

<map name="navmap">
  <area shape="circle" coords="54,54,52" href="/research" alt="research">
  <area shape="circle" coords="54,179,52" href="/publications" alt="publications">
  <area shape="circle" coords="906,295,52" href="/curriculum_vitae" alt="curriculum_vitae">
  <area shape="circle" coords="53,568,52" href="/" alt="home">
</map>
