---
title: Brian Rolczynski
layout: home
---

<div class="headshot">
  <%= image_tag "generic-user.png" %>
</div>

<img class="jablonski" src="/images/FINAL_CHART_ART_WHITE_ONLY.png" alt="site navigation in the form of a jablonski diagram" usemap="#navmap">

<map name="navmap">
  <area shape="circle" coords="1812,533,174" href=# alt="research">
  <area shape="rect" coords="0,350,690,490" href=# alt="research">
  <area shape="circle" coords="1814,950,174" href=# alt="publications">
  <area shape="rect" coords="145,1000,1180,1135" href=# alt="publications">
  <area shape="circle" coords="2307,1347,174" href=# alt="curriculum_vitae">
  <area shape="poly" coords="1240,1380,2100,1380,2100,1530,1900,1530,1900,1700,1440,1700,1440,1530,1240,1530,1240,1380" href=# alt="curriculum_vitae">
  <area shape="circle" coords="2307,2265,174" href=# alt="about">
  <area shape="rect" coords="1430,2310,2130,2450" href=# alt="about">
</map>