---
title: Publications
header: PUBLICATIONS
---
<div class="publications-section">
  <h2>Submitted manuscripts</h2>
  <hr>
  <ul>
    <li>
    Rolczynski, B. S.; Zheng, H.; Singh, V. P.; Navotnaya, P.; Ginzburg, A. R.; Caram, J. R.; Ashraf, K.; Gardiner, A. T.; Cogdell, R. J.; Engel, G. S. “Direct Observation of Correlated Excitonic Spectral Di usion in the Fenna-Matthews-Olson Complex.“ Proc. Nat. Acad. Sci., <em>submitted</em>.
    </li>
  </ul>
  <h2>Publications, peer-reviewed</h2>
  <hr>
  <ol reversed>
    <li>
    Flanagan, M. L.; Long, P. D.; Dahlberg, P. D.; Rolczynski, B. S.; Massey, S. C.; Engel, G. S. “Mutations to R. sphaeroides Reaction Center Perturb Energy Levels and Vibronic Coupling but Not Observed Energy Transfer Rates.” J. Phys. Chem. A. 2015. 120(9), 1479.
    </li>
    <li>
    Cho, S.; Rolczynski, B. S.; Xu, T.; Yu, L.; Chen, L. X. “Solution Phase Exciton Di usion Dynamics of a Charge-Transfer Copolymer PTB7 and Homopolymer P3HT.” J. Phys. Chem. B. 2015, 119(24), 7447.
    </li>
    <li>
    Blackburn, A. K.; Sue, A. C.-H.; Shveyd, A. K.; Cao, D.; Tayi, A.; Narayanan, A.; Rolczynski, B. S.; Sarko, J. M.; Bozdemir, O. A.; Wakabayashi, R.; Lehrman, J. A.; Chen, L. X.; Nassar, M. S.; Stupp, S. I.; Stoddart, J. F. “Lock–arm supramolecular ordering: A molecular construction set for cocrystallizing organic charge transfer complexes.” J. Am. Chem. Soc. 2014, 136, 17224.
    </li>
    <li>
    Rolczynski, B. S.; Szarko, J. M.; Son, H. J.; Yu, L.; Chen, L. X. “E ects of Exciton Polarity in Charge Transfer Polymer/PCBM Bulk Heterojunction Films.” J. Phys. Chem. Lett. 2014, 5(11), 1856.
    </li>
    <li>
    Szarko, J. M.; Rolczynski, B. S.; Lou, S. J.; Xu, T.; Strzalka, J.; Marks, T. J.; Yu, L.; Chen, L. X. “Photovoltaic Function and Exciton/Charge Transfer Dynamics in a Highly E cient Semiconducting Copolymer.” Adv. Funct. Mater. 2014, 24(1), 10.
    </li>
    <li>
    Zheng, H.; Caram, J. R.; Dahlberg, P. D.; Rolczynski, B. S.; Viswanathan, S.; Dolzhnikov, D. S.; Khadivi, A.; Talapin, D. V.; Engel, G. S. “Dispersion-free continuum two-dimensional electronic spectrometer.” Applied Optics 2014, 53(9), 1909.
    </li>
    <li>
    Caram, J. R.; Zheng, H.; Dahlberg, P. D.; Rolczynski, B. S.; Gri n, G. B.; Dolzhnikov, D. S.; Talapin, D. V.; Engel, G. S. “Exploring size and state dynamics in CdSe quantum dots using two- dimensional electronic spectroscopy.” J. Chem. Phys. 2014, 140(8), 084701.
    </li>
    <li>
    Gri n, G. B.; Lundin, P. M.; Rolczynski, B. S.; Linkin, A.; McGillicuddy, R. D.; Bao, Z.; Engel, G. S. “Ultrafast energy transfer from rigid, branched side-chains into a conjugated, alternating copolymer.” J. Chem. Phys. 2014, 140(3), 034903.
    </li>
    <li>
    Caram, J. R.; Zheng, H.; Dahlberg, P. D.; Rolczynski, B. S.; Gri n, G. B.; Fidler, A. F.; Dolzhnikov, D. S.; Talapin, D. V.; Engel, G. S. “Persistent Interexcitonic Quantum Coherence in CdSe Quantum Dots.” J. Phys. Chem. Lett. 2014, 5(1), 196.
    </li>
    <li>
    Singh, V. P.; Fidler, A. F.; Rolczynski, B. S.; Engel, G. S. “Independent phasing of rephasing and non-rephasing electronic spectra.” J. Chem. Phys. 2013, 139(8), 084201.
    </li>
    <li>
    Tayi, A. S.; Shveyd, A. K.; Sue, C.-H.; Szarko, J. M.; Rolczynski, B. S.; Sarjeant, A. A.; Stern, C. L.; Cao, D.; Paxton, W. F.; Wu, W.; Dey, S. K.; Fahrenbach, A. C.; Guest, J.; Mohseni, H.; Chen, L. X.; Wang, K. L.; Stoddart, J. F.; Stupp, S. I. “Room Temperature Ferroelectricity in Supramolecular Networks of Charge Transfer Complexes.” Nature 2012, 488, 485.
    </li>
    <li>
    Rolczynski, B. S.; Szarko, J. M.; Son, H. J.; Liang, Y.; Yu, L.; Chen, L. X. “Ultrafast Intramolecular Exciton Splitting Dynamics in Isolated Low-Band-Gap Polymers and  eir Implications on Photovoltaic Materials Design.” J. Am. Chem. Soc. 2012, 134, 9, 4142.
    </li>
    <li>
    Gothard, N. A.; Mara, M. W.; Huang, J.; Szarko, J. M.; Rolczynski, B. S.; Lockard, J. V.; Chen, L. X. “Strong Steric Hindrance E ect on Excited State Structural Dynamics of Cu(I) Diimine Complexes.” J. Phys. Chem. A 2012, 116, 9, 1984.
    </li>
    <li>
    Carsten, B.; Szarko, J. M.; Son, H. J.; Wang, W.; Lu, L.; He, F.; Rolczynski, B. S.; Lou, S. J.; Chen, L. X.; Yu, L. “Examining the E ect of the Dipole Moment on Charge Separation in Donor- Acceptor Polymers for Organic Photovoltaic Applications.” J. Am. Chem. Soc. 2011, 133, 50, 20468.
    </li>
    <li>
    Murray, I. P.; Lou, S. J.; Cote, L. J.; Loser, S.; Kadleck, C. J.; Xu, T.; Szarko, J. M.; Rolczynski, B. S.; Johns, J. E.; Huang, J.; Yu, L.; Chen, L. X.; Marks, T. J.; Hersam, M. C. “Graphene Oxide Interlayers for Robust, High-E ciency Organic Photovoltaics.” Phys. Chem. Lett. 2011, 2, 3006.
    </li>
    <li>
    Szarko, J. M.; Guo, J.; Rolczynski, B. S.; Chen, L. X. “Nanoscale structure, dynamics and power conversion e ciency correlations in small molecule and oligomer-based photovoltaic devices.” Nano Rev. 2011, 2, 7249.
    </li>
    <li>
    Szarko, J. M.; Guo, J.; Rolczynski, B. S.; Chen, L. X. “Current trends in the optimization of low band gap polymers in bulk heterojunction photovoltaic devices.” J. Mater. Chem. 2011, 21, 22, 7849.
    </li>
    <li>
    Rolczynski, B. S.; Szarko, J. M.; Lee, B.; Strzalka, J.; Guo, J.; Liang, Y.; Yu, L.; Chen, L. X. “Length-dependent self-assembly of oligothiophene derivatives in thin  lms.” J. Mater. Res. 2011, 26, 296.
    </li>
    <li>
    Szarko, J. M.; Rolczynski, B. S.; Guo, J.; Liang, Y.; He, F.; Mara, M. W.; Yu, L.; Chen, L. X. “Electronic Processes in Conjugated Diblock Oligomers Mimicking Low Band-Gap Polymers: Experimental and  eoretical Spectral Analysis.” J. Phys. Chem. B 2010, 114, 14505.
    </li>
    <li>
    Szarko, J. M.; Guo, J.; Liang, Y.; Lee, B.; Rolczynski, B. S.; Strzalka, J.; Xu, T.; Loser, S.; Marks, T. J.; Yu, L.; Chen, L. X. “When Function Follows Form: E ects of Donor Copolymer Side Chains on Film Morphology and BHJ Solar Cell Performance.” Adv. Mater. 2010, 22, 48, 5468.
    </li>
    <li>
    Guo, J.; Liang, Y.; Szarko, J.; Lee, B.; Son, H. J.; Rolczynski, B. S.; Yu, L.; Chen, L. X. “Structure, Dynamics, and Power Conversion E ciency Correlations in a New Low Bandgap Polymer:PCBM Solar Cell.” J. Phys. Chem. B 2010, 114, 2, 742.
    </li>
    <li>
    Szarko, J.; Guo, J.; Liang, Y.; Rolczynski, B.; Yu, L.; Chen, L. X. “ e electron and energy transfer between oligothiophenes and thieno[3,4-b]thiophene units.” Proc. of SPIE 2008, 7034, 703403.
    </li>
    <h2>Publications, not peer-reviewed</h2>
    <hr>
    <li>
    Rolczynski, B. S.; Navotnaya, P.; Sussman, H. R.; Engel, G. S. “Cysteine-mediated mechanism disrupts energy transfer to prevent photooxidation.“ Proc. Nat. Acad. Sci. 2016. 113(31), 8562.
    </li>
  </ol>
</div>